<%= image_tag 'logo.jpg', size: '100x100' %><br>
<h1>Cerema Centre-Est</h1><br>
Ceci est un message de la part de <br>
<%= @owner.email %>
<br><br>

<h2><%= @folder.name %></h2>
<% if @folder.case_number? %>
  Affaire <%= @folder.case_number %><br><br>
<% end %>

<% if @shared_files.count > 0 %>
  <%= @assetlist.html_safe %>
  <% if @folder.is_polled? %>
    <h3>Nous vous remercions de consacrer quelques minutes à notre enquête satisfaction.</h3>
    Vous trouverez cette enquête dans le site juste au dessous du(es) livrable(s).<br>
    Nos équipes ont besoin de votre retour !<br>
  <% end %>
<% else %>
  <% if @folder.is_polled? %>
    Nous aimerions recueillir votre satisfaction sur l'ensemble des prestations que nous avons réalisées pour vous cette année.<br>
    Nous vous remercions de consacrer quelques minutes à ce questionnaire court et concis.<br>
    Vos réponses nous aideront à identifier d'éventuels points d'amélioration.<br>
  <% end %>
<% end %>
<br>

<% if @customer %>
  Pour y accéder, suivez le lien <%= link_to folder_url(@folder.id).to_s, folder_url(@folder.id) %><br><br>
  Pour mémoire, vous êtes enregistré sur ce site avec le mel <%= @customer_email %><br>
  Si vous avez perdu votre mot de passe, vous pouvez en recréer un nouveau : <%=link_to new_user_password_url.to_s, new_user_password_url %><br>
<% else %>
  Pour y accéder, il vous suffit de vous inscrire à l'adresse suivante : <%= link_to new_user_registration_url.to_s, new_user_registration_url %><br>
  Lors de l'inscription, merci d'utiliser le mel <%= @customer_email %><br>
<% end %>
