<%= image_tag 'logo.jpg', size: '100x100' %><br>
<h1>Cerema Clermont-Ferrand</h1><br>
<br><br>

<%
client_username=@survey.client_mel.to_s.split("@");
client_username[0].sub!("."," ");
by_username=@survey.by.to_s.split("@");
by_username[0].sub!("."," ")
%>

<h3>Bonjour <%=client_username[0].titleize %></h3>
<h3>Nous venons de terminer une prestation à votre bénéfice</h3>
<h4><%= @survey.description %></h4>
<h5>sous le pilotage du chargé d'affaire : <%= by_username[0].titleize %></h5>

<h3>Si vous avez quelques minutes, merci de remplir l'enquête satisfaction.</h3>
Vous trouverez cette enquête à l'adresse suivante : <br>
<%= link_to new_satisfaction_no_folder_url(@survey.id,@survey.token).to_s, new_satisfaction_no_folder_url(@survey.id,@survey.token) %>
<br>
Nos équipes ont besoin de votre retour !