
<% if @folder.errors.any? %>
    <h3><%= pluralize(@folder.errors.count, "erreur") %></h3>
	<ul>
	<% @folder.errors.full_messages.each do |msg| %>
		<li><%= msg.html_safe %></li>
	<% end %>
	</ul>
<% end %>

<%= form_for @folder do |f| %>
    <div class="form-group">
      <%= f.text_field :name, placeholder: MAIN["dir_name"], size: 50 %>
    </div>
    <div class="form-group">
	  <%= f.text_field :case_number, placeholder: MAIN["case_number"], size: 20 %><br>
    <%= f.hidden_field :parent_id %>
    </div>
    <% if @folder.shared? %>
      <div class="form-group">
    	<% polls_array = Poll.all.map { |poll| [poll.name, poll.id] } %>
    	<% polls_array = [[MAIN["no_poll"],""]] + polls_array %>

    	<%#= f.collection_select(:poll_id, Poll.all, :id, :name) %>

    	<%= f.select(:poll_id) do %>
    	<%= options_for_select(polls_array, { selected: @folder.poll_id }) %>
    	<% end %>
      </div>
    <% end %>

    <% if @folder.new_record? %>
        <%= f.submit MAIN["create_folder"] %>
    <% else %>
        <%= f.submit MAIN["update_folder"] %>
    <% end %>


<% end %>