<%= render 'shared/nav' %>

<%
# whole application tree exploration
Folder.walk_tree do |folder, level|
  # the folder's names
  name = "#{folder.name}(D#{folder.id})"
  # if the folder is shared, we have to display the share numbers after the file name
  if folder.shared?
    shares = "{<span class='shared_to'"
    SharedFolder.where(folder_id: folder.id).each do |p|
      shares = "#{shares} ->P#{p.id}>#{p.share_email}(#{p.share_user_id}) "
    end
    shares = "#{shares}</span>}".html_safe
  end
  # has the folder some files ?
  if folder.has_assets?
    assets_list = ""
	folder.assets.each do |asset|
      assets_list = "#{assets_list}<span class='asset_span' style='margin-left:#{level * 10}px'>#{asset.uploaded_file_file_name}</span><br>".html_safe
    end
  end
  # case 1 : we are in a subfolder
  if level > 0
    # we add some graphics to the name to make a visual link with the parent folder
    name = "|_#{name}"
    # is the folder belonging to another private user ?
    if folder.is_swarmed?
      user = User.find_by_id(folder.user_id)
      swarmed_owner = "<span class='swarmed_to'>#{user.email}(#{user.id})</span>".html_safe
    end
  # case 2 : root folder, without any parent
  # we display the owner's mel
  else
    user = User.find_by_id(folder.user_id)
    owner = "#{user.email}(#{user.id})"
  end
%> 
  <%= link_to name, folder_path(folder), :style =>"margin-left:#{level * 10}px;" %>
  <%= swarmed_owner %>
  <%= owner %>
  <%= shares %>
  <br>
  <%= assets_list %>
<%
#end of tree walking on Folder
end 
%>

<h2><%= MAIN["folder_move"]%></h2>

<%= form_tag(moove_folder_path, method: "patch") do %>
<%= label_tag(:id, MAIN["folder_id_to_move"]) %>
<%= text_field_tag(:id) %>

<%= label_tag(:parent_id, MAIN["destination_folder_id"]) %>
<%= text_field_tag(:parent_id) %>

<%= submit_tag(MAIN["validate_move"]) %>
<% end %>