<% Folder.walk_tree do |folder, level| %>
	<% user = User.find_by_id(folder.user_id) %>
	<% if level > 0 %>
		<%= link_to '|_'+"#{folder.name}", folder_path(folder), :style =>'margin-left:'+(level * 10).to_s+'px;' %><%= " (" + folder.id.to_s + ")"%><br>
		<% if folder.has_assets? %>	
			<% folder.get_assets.each do |asset| %> 
				<span class="asset_span" style="margin-left:<%= level * 10%>px"%><%= asset.uploaded_file_file_name %></span><br>
			<% end %>
		<% end %>
  	<% else %>
  		<br><%= link_to "#{folder.name}", folder_path(folder) %><%= " (" + folder.id.to_s + ") (" + user.email + ")" %><br>
  		<% if folder.has_assets? %>	
  			<% folder.get_assets.each do |asset| %> 
  				<span class="asset_span"><%= asset.uploaded_file_file_name %></span><br>
  			<% end %>
  		<% end %>
  	<% end %>
<% end %>

<h2>Déplacement de répertoire</h2>

<%= form_tag(moove_folder_path, method: "patch") do %>
<%= label_tag(:id, "ID du répertoire à déplacer") %>
<%= text_field_tag(:id) %>

<%= label_tag(:parent_id, "ID du répertoire dans lequel le placer (0 pour placer à la racine)") %>
<%= text_field_tag(:parent_id) %>

<%= submit_tag("Valider") %>
<% end %>