
<%= form_for @satisfaction do |f| %>
	
    <% if @satisfaction.new_record? %>
        <p><%= @poll.description.html_safe %></p><br>
    <% else %>
        <% if current_user.is_private? || current_user.is_admin? %>
            <p>
            <%= MAIN["message_for_private_and_admin_after_record"] %>
            <% if @satisfaction.user_id >0 %><%= User.find_by_id(@satisfaction.user_id).email %> - <% end %>
            <%= @satisfaction.created_at %></p>
        <% else %>
            <p><%= MAIN["message_user_after_record"].html_safe %><%= @satisfaction.created_at %><br><br></p>
        <% end %>
    <% end %>

<div class="container">
    <div class="row align-items-center justify-content-center">
    <% @arrayclosed = @poll.get_closed_names %>
    <% @arrayclosed.each do |c| %>

        <% i = @arrayclosed.index(c) + 1 %>
            
              <div class="col-6 col-md-4">
                <div class="stars">
                  <% a = "closed" + i.to_s %>

                  <%= f.radio_button a.to_sym, '4', disabled: !@satisfaction.new_record? %>
                      <label class="star-4" for="satisfaction_closed<%= i %>_4"></label>

                  <%= f.radio_button a.to_sym, '3', disabled: !@satisfaction.new_record? %>
                      <label class="star-3" for="satisfaction_closed<%= i %>_3"></label>
                      
                  <%= f.radio_button a.to_sym, '2', disabled: !@satisfaction.new_record? %>
                      <label class="star-2" for="satisfaction_closed<%= i %>_2"></label>

                  <%= f.radio_button a.to_sym, '1', disabled: !@satisfaction.new_record? %>
                      <label class="star-1" for="satisfaction_closed<%= i %>_1"></label>
                </div>  
              </div>
              <div class="col-6 col-md-4"><%= c %></div>
              <div class="w-100"></div>

    <% end %>
    </div>
</div>

    <% @arrayopen = @poll.get_open_names %>

    <% @arrayopen.each do |o| %>
        <div class="d-flex align-items-center justify-content-start bd-highlight mb-3">
            <div class="p-2 bd-highlight"><%= o %></div>
            <div class="p-2 bd-highlight">
               <% i = @arrayopen.index(o) + 1 %>
               <% a = "open" + i.to_s %>
               <%= f.text_area a.to_sym, size: "50x5", disabled: !@satisfaction.new_record?, class: "form-control" %>
            </div>
        </div>
    <% end %>
    
    <% if @current_folder %>
    <% @satisfaction.folder_id = @current_folder.id %> 
    <% @satisfaction.poll_id = @current_folder.poll_id %>
    <% @satisfaction.case_number = @current_folder.case_number %>
    <%= f.hidden_field :folder_id %> 
	<%= f.hidden_field :poll_id %> 
	<%= f.hidden_field :case_number %>
    <% end %>

	<% if @satisfaction.new_record? %>
    	<%= f.submit MAIN["record_satisfaction"], class: 'btn' %>
    <% end %>
    <br><br>
<% end %>
