<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <%= link_to MAIN["site_name"].html_safe, root_url , class: "navbar-brand" %>
    <img src=https://www.cerema.fr/themes/custom/uas_base/images/logo-seul.svg width=60>
</nav>

<%
if @survey
  client_username=@survey.client_mel.to_s.split("@");
  client_username[0].sub!("."," ");
  by_username=@survey.by.to_s.split("@");
  by_username[0].sub!("."," ")
end
%>
<% if @survey %>
<h3>Bonjour <%=client_username[0].titleize %></h3>
<h3>Nous venons de terminer une prestation à votre bénéfice</h3>
<h4><%= @survey.description %></h4>
<h5>sous le pilotage du chargé d'affaire :  <%= mail_to @survey.by, by_username[0].titleize %></h5><br>
<% end %>

<%= render 'form' %>

<script>
var legend=[];
var out="<table class='table table-sm' >";
out+="<thead><tr><td colspan=2>Légende : </td></tr>"
var i;
var j;
legend[4]="très satisfaisant";
legend[3]="satisfaisant";
legend[2]="peu satisfaisant";
legend[1]="pas satisfaisant";

for (i=4;i>=1;i--){
    out+="<tr style='background-color: #eee;'><td><div class='row align-items-center justify-content-center'>";
    for (j=1;j<=i;j++){
        out+="<i class='far fa-star'></i>";
    }
    out+="</div></td><td>"+legend[i]+"</td>";
    out+="</tr>";
}
out+="</table>";
$("#legend-content").html(out);
</script>