<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <%= link_to t('sb.site_name').html_safe, root_url , class: "navbar-brand" %>
    <img src=https://www.cerema.fr/themes/custom/uas_base/images/logo-seul.svg width=60>
</nav>

<script>
var legend=[];
var out="<table class='table table-sm' >";
out+="<thead><tr><td colspan=2><%= t('sb.legend') %> : </td></tr>"
legend[4]="<%= t('sb.satisfaction_level_4') %>";
legend[3]="<%= t('sb.satisfaction_level_3') %>";
legend[2]="<%= t('sb.satisfaction_level_2') %>";
legend[1]="<%= t('sb.satisfaction_level_1') %>";
</script>

<%
if @survey
  client_username=@survey.client_mel.to_s.split("@");
  client_username[0].sub!("."," ");
  by_username=@survey.by.to_s.split("@");
  by_username[0].sub!("."," ")
end
%>
<% if @survey %>
<h3><%= t('hello') %> <%=client_username[0].titleize %></h3>
<h3><%= t('sb.survey_intro') %></h3>
<h4><%= @survey.description %></h4>
<h5><%= t('sb.project_manager') %> :  <%= mail_to @survey.by, by_username[0].titleize %></h5><br>
<% end %>

<%= render 'form' %>

<script>
var i;
var j;
for (i=4;i>=1;i--){
    out+="<tr style='background-color: #eee;'><td><div class='row align-items-center justify-content-center'>";
    if (i>1) {
        out+=i+" étoiles = ";
    } else {
        out+="1 étoile = ";
    }
    out+=legend[i]+"</div></td>";
    out+="</tr>";
}
out+="</table>";
$("#legend-content").html(out);
</script>
