<%= render 'shared/nav' %>

Email server : <%= Rails.application.config.action_mailer.smtp_settings[:address] %><br>
Address sending emails to users for password change : <%= Devise.mailer_sender %><br>
Address collecting information related to users activity (shared folders & unregistered users with shares) : <%= MAIN["admin_mel"] %><br><br>


<table class="recap">
<tr><th colspan="4"><%= MAIN["users_list"]%>(<%= @users.count%>)</th>
</tr>
<tr>
<th><%= sortable "id" %></th>
<th><%= sortable "email", MAIN["mail"] %></th>
<th><%= MAIN["has_shared_folders_from_others?"] %></th>
<th><%= sortable "statut", MAIN["status"] %></th>
</tr>
<% @users.each do |u| %>
        <tr>
        <td><%= u.id %></td>
        <td><%= u.email %></td>
        <td><%= u.has_shared_folders_from_others? %></td>
        <td>
          <%= form_tag(user_path(u), method: "patch") do %>
          <%= select_tag :statut, options_for_select(["public", "private", "admin" ], { selected: u.statut })%>
          <%= submit_tag(MAIN["process_to_status_mod"]) %>
          <% end %>
        <td>
        <td><%= link_to "delete", user_path(u), method: :delete, data: {confirm: MAIN["are_yu_sure"] } %></td>
        </tr>
<% end %>
</table>



<table class="recap">
<tr><th colspan="4">Folders shared to an unregistered user (at sharing time)</th>
</tr>
<tr>
<th>folder_id</th>
<th>prop_id</th>
<th>share_email</th>
<th>calculated share_user_id</th>
</tr>
<% SharedFolder.where("share_user_id IS NULL").each do |u| %>
    <tr bgcolor=#EEEEEE>
    <td><%= u.folder_id %></td>
    <td><%= u.user_id %></td>
    <td><%= u.share_email %></td>
    <td><%= u.fetch_user_id_associated_to_email %></td>
    </tr>
<% end %>
</table>