<%= render 'shared/nav' %>
<% if ENV['TEAM'] %>
  You are working in TEAM mode - <%= ENV.fetch('TEAM') %><br>
<% end %>
Email server : <%= Rails.configuration.action_mailer.smtp_settings[:address] %><br>
Application Mailer default from : <%= ApplicationMailer.default[:from] %><br>
Address sending emails to users for password change : <%= Devise.mailer_sender %><br>
Address collecting information related to users activity (shared folders & unregistered users with shares) : <%= Rails.configuration.sharebox["admin_mel"] %><br><br>

<div id=users_summary></div>
<div class="table-responsive-sm">
<table class=table>
<tr>
<th></th>
<th><input type=text class=form-control placeholder="<%= t('sb.placeholder_filter_on_email') %>" id=melfrag></th>
<th></th>
<th><input type=text class=form-control placeholder="<%= t('sb.placeholder_filter_on_statut') %>" id=statut></th>
<th><input type=text class=form-control placeholder="<%= t('sb.placeholder_filter_on_groups') %>" id=groups></th>
<th></th>
</tr>
<tbody id=users_list></tbody>
</table>
</div>

<% uncompletedshares=SharedFolder.where("share_user_id IS ?", nil) %>
<% if uncompletedshares.length > 0 %>
<div class="table-responsive-sm">
  <table class="table table-hover">
    <tr><th colspan="4">
      Folders shared to an unregistered user (at sharing time)</th>
    </tr>
    <tr>
      <th>folder_id</th>
      <th>prop_id</th>
      <th>share_email</th>
      <th>calculated share_user_id</th>
    </tr>
  <% uncompletedshares.each do |u| %>
    <tr>
       <td><%= u.folder_id %></td>
       <td><%= u.user_id %></td>
       <td><%= u.share_email %></td>
       <td><%= u.fetch_user_id_associated_to_email %></td>
    </tr>
  <% end %>
</table>
</div>
<% end %>

<script>
<%= render :partial => 'shared/colibritoolbox.js' %>
<%= render :partial => 'index.js' %>
</script>