<%
# this file generates the assets and folders list associated to our position in the folders'tree
# initialization of @assets, @folders and @shared_folders_by_others if we are in the user's root directory
if @current_folder
  @assets = @current_folder.assets.order("uploaded_file_file_name desc")
  @folders = @current_folder.children.order("name asc")
else
  if current_user.is_admin?
    @folders=Folder.roots
  else
    @folders=current_user.folders.roots.order("name asc")
    if current_user.folders.all.length>0
      # we search for all folders owned by the user and swarmed in other users directories
      values = "#{current_user.folders.ids}".gsub("[","(").gsub("]",")")
      @swarmed_folders=Folder.where("user_id = #{current_user.id} and parent_id not in #{values}").order("name asc")
      @folders= @swarmed_folders + @folders
    end
  end
  @assets=current_user.assets.where("folder_id is NULL").order("uploaded_file_file_name desc")
  @shared_folders_by_others=current_user.shared_folders_by_others
end
# test do we have to print something ?
%>

<% if @assets.length > 0 or @folders.length > 0 or (current_user.has_shared_folders_from_others? && !@current_folder) %>
<div class="table-responsive-sm">
<table class="table table-hover table-sm">
    <thead>
        <tr>
	      <th></th>
          <th><%= MAIN["asset_or_folder_name"] %></th>
          <th><%= MAIN["asset_or_folder_last_update"] %></th>
          <th><%= MAIN["asset_or_folder_length"] %></th>
        </tr>
    </thead>
    <tbody>
    <% # we are in the user's root directory - if folders have been shared to the user, we have to display them %>
    <% if !@current_folder %>
      <% @shared_folders_by_others.order(name: :ASC).each do |f| %>
        <tr>
          <th><p class='text-left'><%= MAIN["owner"] %><br><%= User.find_by_id(f.user_id).email %></p></th>
          <th><div class='folder_shared_by_others'><%= link_to f.name, folder_path(f) %></div></th>
          <th><%= f.updated_at %></th>
          <th></th>
        </tr>
      <% end %>
    <% end %>
<%
  # we have displayed all folders shared to the user
  # we loop on the folders
  @folders.each do |f|
    if f.shared? && !f.has_satisfaction_answer?
      showshares = " #{link_to MAIN['see_shares'], shared_folder_path(f)}".html_safe
    elsif f.has_satisfaction_answer?
      showshares = " #{link_to MAIN['see_answers'], shared_folder_path(f)}".html_safe
    end
    # owner case
    if current_user.has_ownership?(f)
      #if current_user.is_admin? || current_user.is_private?
        delete_zone = "#{link_to MAIN['delete_folder'], folder_path(f), method: :delete, data: {confirm: MAIN['are_yu_sure']}, class: 'btn btn-outline-danger btn-sm'}"
        delete_zone = "#{delete_zone}".html_safe
        newshare_zone = "#{link_to MAIN['share_folder'], new_share_on_folder_path(f), class: 'btn btn-outline-primary btn-sm'}".html_safe
        manage_zone = "#{link_to MAIN['manage_folder'], edit_folder_path(f), class: 'btn btn-outline-success btn-sm'}".html_safe
        manage_zone_modal= "#{link_to MAIN['manage_folder'], edit_folder_path(f),  {:remote => true, 'data-toggle' =>  'modal', 'data-target' => '#modalfolderwin', class: 'btn btn-outline-success btn-sm'} }".html_safe
        if f.shared?
          start = "<div class='folder_shared'>".html_safe
        else
          start = "<div class='folder'>".html_safe
        end
        folderbutton = "#{link_to f.name, folder_path(f)}".html_safe
        shares_zone = showshares
        close = "</div>".html_safe
        updatefield = "#{f.updated_at}".html_safe
      #end
    elsif current_user.has_shared_access?(f)
      prenom_nom=User.find_by_id(f.user_id).email[0..User.find_by_id(f.user_id).email.index('@')-1]
      ownerinfo = "#{MAIN['owner']}<br>#{prenom_nom}".html_safe
      start = "<div class='folder_sub_shared_by_others'>".html_safe
      folderbutton = "#{link_to f.name, folder_path(f)}".html_safe
      if f.is_swarmed_to_user?(current_user) || current_user.is_admin?
        shares_zone = showshares
      end
      close = "</div>".html_safe
      updatefield = "#{f.updated_at}".html_safe
    end
%>
        <tr>
          <th>
            <% if ownerinfo %>
              <p class='text-left'><%= ownerinfo %></p>
            <% else %>
              <p class='text-right'>
                <%= delete_zone %>&nbsp;
                <%= newshare_zone %>&nbsp;
                <%#= manage_zone %>
                <%= manage_zone_modal %>
              </p>
            <% end %>
          </th>
          <th>
            <%= start %>
            <%= folderbutton %>
            <%= shares_zone %>
            <%= close %>
          </th>
          <th><%= updatefield %></th>
          <th></th>
        </tr>          
   
<%
  # end of the folders'loop
  end
  # we loop on the assets
  @assets.each do |f|
    fileclose = "</div>".html_safe
    if current_user.has_asset_ownership?(f)
      deletefile_zone = "#{link_to MAIN['delete_asset'], asset_path(f), method: :delete, data: {confirm: MAIN['are_yu_sure'] }, class: 'btn btn-outline-danger btn-sm'}".html_safe
      filestart = "<div class='file'>".html_safe
    else
      fileowner = "#{MAIN["owner"]}<br>#{User.find_by_id(f.user_id).email}".html_safe
      filestart = "<div class='file_shared'>".html_safe
    end
%>
        <tr>
          <th>
            <% if fileowner %>
              <p class='text-left'><%= fileowner %></p></th>
            <% else %>
              <p class='text-right'><%= deletefile_zone %></p></th>
            <% end %>
          <th>
            <%= filestart %>
            <%= link_to f.uploaded_file_file_name, download_url(f) %>
            <%= fileclose %>
          </th>
          <th><%= f.uploaded_file_updated_at %></th>
          <th><%= number_to_human_size(f.uploaded_file_file_size, :precision => 2) %></th>
        </tr>
  <% # end of the assets'loop %>
  <% end %>
    </tbody>
</table>
</div>
<% # end of test do we have to print something ? %>
<% end %>

