<%
# this file generates the assets and folders list associated to our position in the folders'tree
# initialization of @assets, @folders and @shared_folders_by_others if we are in the user's root directory
if @current_folder
  @assets = @current_folder.assets.order("uploaded_file_file_name desc")
  @folders = @current_folder.children
else
  @folders=current_user.folders.roots
  @assets=current_user.assets.where("folder_id is NULL").order("uploaded_file_file_name desc")
  @shared_folders_by_others=current_user.shared_folders_by_others
end 

# test do we have to print something ?
if @assets.length > 0 or @folders.length > 0 or (current_user.has_shared_folders_from_others? && !@current_folder)
%>
    <table class="list_folders">
        <tr>
	        <td colspan=3></td>
            <td><%= MAIN["asset_or_folder_name"] %></td>
            <td><%= MAIN["asset_or_folder_last_update"] %></td>
            <td><%= MAIN["asset_or_folder_length"] %></td>
        </tr>
<%
  # we are in the user's root directory - if folders have been shared to the user, we have to display them
  if !@current_folder
    @shared_folders_by_others.order(name: :ASC).each do |f|
%>
        <tr>
            <td colspan=3><%= MAIN["owner"] %><br><%= User.find_by_id(f.user_id).email %></td>
            <td><div class="folder_shared_by_others"><%= link_to f.name, folder_path(f) %></div></td>
            <td><%= f.updated_at %></td>
            <td></td>
        </tr>
<%
    end
  end
  # we have displayed all folders shared to the user
  # we loop on the folders
  @folders.order(name: :ASC).each do |f|
    if current_user.has_ownership?(f)
      if current_user.is_admin? || current_user.is_private?
%>
        <tr>
            <td><%= link_to MAIN["delete_folder"], folder_path(f), method: :delete, data: {confirm: MAIN["are_yu_sure"] } %></td>
            <td><%= link_to MAIN["share_folder"], new_share_on_folder_path(f) %></td>
            <td><%= link_to MAIN["manage_folder"], edit_folder_path(f) %></td>
            <td>
                <div class="folder<%= f.shared? ? '_shared' : '' %>"><%= link_to f.name, folder_path(f) %>
<%      if f.shared? && !f.has_satisfaction_answer? %>
                <%= link_to MAIN["see_shares"], shared_folder_path(f) %>
<%      elsif f.has_satisfaction_answer? %>
                <%= link_to MAIN["see_answers"], shared_folder_path(f) %>
<%      end %>
                </div>
            </td>
<%
      end
    elsif current_user.has_shared_access?(f)
%>
        <tr>
            <td colspan=3><%= MAIN["owner"] %><br><%= User.find_by_id(f.user_id).email %></td>
            <td><div class="folder_sub_shared_by_others"><%= link_to f.name, folder_path(f) %></div></td>
<% 
    end
%>
            <td><%= f.updated_at %></td>
            <td></td>
        </tr>    
<%
  # end of the folders'loop
  end
  # we loop on the assets
  @assets.each do |f|
    if current_user.has_asset_ownership?(f)
%>
        <tr>
            <td colspan="3"><%= link_to MAIN["delete_asset"], asset_path(f), method: :delete, data: {confirm: MAIN["are_yu_sure"] } %></td>
            <td><div class="file"><%= link_to f.uploaded_file_file_name, download_url(f) %></div></td>
<%
    else
%>
        <tr>
            <td colspan=3><%= MAIN["owner"] %><br><%= User.find_by_id(f.user_id).email %></td>
            <td><div class="file_shared"><%= link_to f.uploaded_file_file_name, download_url(f) %></div></td>
<%
    end
            # we could do f.uploaded_file_updated_at.strftime("%d/%m/%Y %l:%M%p") 
            # but we have done it directly in /config/environnement so we don't have to repeat it in the views
%>
            <td><%= f.uploaded_file_updated_at %></td>
            <td><%= number_to_human_size(f.uploaded_file_file_size, :precision => 2) %></td>
        </tr>
<%
  # end of the assets'loop
  end 
%>
    </table>
<%
# end of test do we have to print something ? 
end 
%>