<%
#if current_user.is_admin? || current_user.is_private?
#  if @current_folder
#    if current_user.has_ownership?(@current_folder)
#      uploadfile="#{link_to MAIN['upload_file'], new_sub_asset_path(@current_folder), class: 'dropdown-item'}".html_safe
#      createdir="#{link_to MAIN['create_dir'], new_sub_folder_path(@current_folder), class: 'dropdown-item'}".html_safe
#      createdirmodal= "#{link_to MAIN['create_dir'], new_sub_folder_path(@current_folder),  {:remote => true, 'data-toggle' =>  'modal', 'data-target' => '#modalfolderwin', class: 'dropdown-item'} }".html_safe
#    end
#  else
#      uploadfile="#{link_to MAIN['upload_file'], new_asset_path, class: 'dropdown-item'}".html_safe
#      createdir="#{link_to MAIN['create_dir'], new_folder_path, class: 'dropdown-item'}".html_safe
#      createdirmodal= "#{link_to MAIN['create_dir'], new_folder_path,  {:remote => true, 'data-toggle' =>  'modal', 'data-target' => '#modalfolderwin', class: 'dropdown-item'} }".html_safe
#  end
#end

if current_user.is_admin?
  managefolders="#{link_to MAIN['manage_folders'], folders_path, class: 'dropdown-item'}".html_safe
  manageusers="#{link_to MAIN['users_list'], users_path, class: 'dropdown-item'}".html_safe
  newpoll="#{link_to MAIN['new_poll'], new_poll_path, class: 'dropdown-item'}".html_safe
  managepolls="<table>"
  Poll.all.each do |poll|
    managepolls="#{managepolls}<tr><td>#{link_to poll.name, edit_poll_path(poll), class: 'dropdown-item'}</td>"
    managepolls="#{managepolls}<td>#{link_to poll_path(poll), class: 'dropdown-item', method: :delete, data: {confirm: MAIN['are_yu_sure']} do fa_icon 'times' end}</td></tr>"
  end
  managepolls="#{managepolls}</table>".html_safe
  line = "<div class='dropdown-divider'></div>".html_safe
end

if current_user.belongs_to_team?
  managefreesurveys = "#{link_to 'enquêtes client sans mise à disposition de livrables', new_survey_path, class: 'dropdown-item'}"
end

# navigation menu
%>


<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <table cellpadding=6><tr>

  <td>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <%= image_tag 'colibri.png', size: '40x40' %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class='dropdown-item'><%= current_user.email %>(<%= current_user.statut %>)</div>
          <%#= sanitize uploadfile %>
          <%#= createdir %>
          <%#= sanitize createdirmodal  %>
          <%#= sanitize line %>
          <%= managefolders %>
          <%= sanitize manageusers %>
          <%= sanitize line %>
          <%= sanitize managefreesurveys %>
          <%= sanitize newpoll %>
          <%= managepolls %>
          <%= sanitize line %>
          <% if current_user.is_admin? %>
          <%= link_to "API help", help_path, class: 'dropdown-item' %>
          <% end %>
          <%= link_to MAIN["disconnect"].html_safe, destroy_user_session_path, :method => :delete, class: "dropdown-item" %>          
        </div>
      </li>
    </div>
  </td>
  <% if current_user.belongs_to_team? %>
  <td><a href=/><center><i class="fa fa-home fa-2x"></i><div id=browse style="display: block;">Explorateur</div></center></a></td>
  <td><a href=/polls><center><i class="fa fa-thermometer-quarter fa-2x"></i><div id=polls style="display: block;">Statistiques satisfaction</div></center></a></td>
  <%# comments %>
  <% end %>
  </tr></table>
 <div class="col">
  <div class="float-right">
  <div id=name class="navbar-brand"><%= MAIN["site_name"].html_safe%></div>
  <div id=sources>Powered by <%= link_to "colibri v1.2", "http://github.com/alexandrecuer/sharebox" %></div>
  </div>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

</nav>

<%
# bread crumbs navigation if any / fil d'ariane si présent
if @current_folder
  breadcrumb = "<nav aria-label='breadcrumb'><ol class='breadcrumb'>"
  breadcrumb = "#{breadcrumb}<li class='breadcrumb-item'><a href=/browse?oldstyle=1>#{MAIN["root"]}</a></li>"
  @current_folder.ancestors.reverse.each do |folder|
    if current_user.has_shared_access?(folder)
      breadcrumb = "#{breadcrumb}<li class='breadcrumb-item'>#{link_to folder.name, folder_path(folder)}</li>"
    else
      breadcrumb = "#{breadcrumb}<li class='breadcrumb-item'><div class='dropdown'><a class='dropbtn'>#{folder.name}</a>"
      breadcrumb = "#{breadcrumb}<div class='dropdown-content'>yu cannot browse this folder</div></div></li>"
    end
  end
  breadcrumb = "#{breadcrumb}<li class='breadcrumb-item active' aria-current='page'>#{@current_folder.name}</li>"
  breadcrumb = "#{breadcrumb}</ol></nav>".html_safe
end
%>

<%= sanitize breadcrumb %>

<% if notice %>
  <div class="alert alert-success" role="alert"><p class="notice"><%= notice.html_safe %></p></div>
<% end %>
<% if alert %>
  <p class="alert"><%= alert %></p>
<% end %>




<!-- Modal -->
<div class="modal fade" id="modalfolderwin" tabindex="-1" role="dialog" aria-labelledby="FolderWindow" aria-hidden="true">
</div>

<div class="modal fade" id="modalassetwin" tabindex="-1" role="dialog" aria-hidden="true">
</div>


<script>

//to make the menu responsive
function adaptMenu(){
  if($(window).width()<800){
    $("#browse").css("display", "none");
    $("#polls").css("display", "none");
    $("#sources").css("display", "none");
    $("#name").css("display", "none");
  } else {
    $("#browse").css("display", "block");
    $("#polls").css("display", "block");
    $("#sources").css("display", "block");
    $("#name").css("display", "block");
  }
}

adaptMenu();

window.onresize = function(event) {
  adaptMenu();
};

</script>