<%= render 'shared/nav' %>

<table class="recap">
<tr><th colspan="4">Utilisateurs(<%= @users.count%>)</th>
</tr>
<tr>
<th><%= sortable "id" %></th>
<th><%= sortable "email" %></th>
<th>has shared folders from others ?</th>
<th><%= sortable "statut" %></th>
</tr>
<% @users.each do |u| %>
        <tr>
        <td><%= u.id %></td>
        <td><%= u.email %></td>
        <td><%= u.has_shared_folders_from_others? %></td>
        <td><%= u.statut %><td>
<% end %>
</table>
<br>

</table>

<h1>shared_folders without share_user_id filled</h1>
(at sharing time, folder was shared to an unregistered user) 
<table cellpadding=1 cellspacing=2>
<tr bgcolor=#CCCCCC>
<td>folder_id</td>
<td>prop_id</td>
<td>share_email</td>
<td>calculated share_user_id</td>
</tr>
<% @shared_folders=SharedFolder.where("share_user_id IS NULL") %>
<% @shared_folders.each do |u| %>
    <tr bgcolor=#EEEEEE>
    <td><%= u.folder_id %></td>
    <td><%= u.user_id %></td>
    <td><%= u.share_email %></td>
    <td><%= u.fetch_user_id_associated_to_email %></td>
    </tr>
<% end %>
</table>

<h2>Modification de statut utilisateur :</h2>


<%= form_tag(update_user_path, method: "patch") do %>
<%= label_tag(:id, "ID de l'utilisateur :") %>
<%= text_field_tag(:id) %>

<%= label_tag(:statut, "Nouveau statut [public|private] :") %>
<%= text_field_tag(:statut) %>

<%= submit_tag("Valider") %>
<% end %>