<% if @asset.errors.any? %>	
    <% @asset.errors.delete(:uploaded_file) %>
    <% if @asset.errors.count>0 %>
        <h3><%= pluralize(@asset.errors.count, "erreur") %></h3>
    <% end %>
    <ul>
	<% @asset.errors.full_messages.each do |msg| %>
		<li><%= msg.html_safe %></li>
	<% end %>
	</ul>
<% end %>

<%= form_for @asset, url: assets_path, html: { multipart: true } do |f| %>

  <p>
    <%= f.file_field :uploaded_file %>
    <%= f.submit "#{t('sb.upload')} #{t('sb.file')}" %>
  </p>

  <%= f.hidden_field :folder_id %>

<% end %>
	