<%
if @poll.new_record?
  label = t("sb.create_poll")
else
  label = t("sb.update_poll")
end
%>

<%= form_for @poll do |poll| %>

    <p><%= t("sb.poll_title") %></p>
    <%= poll.text_area(:name, class: "form-control") %><br>

    <p><%= t("sb.poll_description") %></p>
    <%= poll.text_area(:description, class: "form-control") %><br>

    <p><%= t("sb.closed_questions") %>&nbsp;<%= t("sb.separator") %></p>
    <%= poll.text_area(:closed_names, class: "form-control") %><br>

    <p><%= t("sb.open_questions") %>&nbsp;<%= t("sb.separator") %></p>
    <%= poll.text_area(:open_names, class: "form-control") %><br>

    <%= poll.submit label, class: 'btn' %>

<% end %>