<%
if @poll.new_record?
  label = MAIN["create_poll"]
else
  label = MAIN["update_poll"]
end
%>

<%= form_for @poll do |poll| %>

    <p><%= MAIN["poll_title"] %></p>
    <%= poll.text_area(:name, class: "form-control") %><br>

    <p><%= MAIN["poll_description"] %></p>
    <%= poll.text_area(:description, class: "form-control") %><br>

    <p><%= MAIN["enter_closed_questions"] %></p>
    <%= poll.text_area(:closed_names, class: "form-control") %><br>

    <p><%= MAIN["enter_open_questions"] %></p>
    <%= poll.text_area(:open_names, class: "form-control") %><br>

    <%= poll.submit label, class: 'btn' %>

<% end %>