<%= form_for @poll do |poll| %>

    <p><%= MAIN["poll_title"] %></p>
    <%= poll.text_area(:name, size: "100x1") %><br>

    <p><%= MAIN["poll_description"] %></p>
    <%= poll.text_area(:description, size: "100x10") %><br>

    <p><%= MAIN["enter_closed_questions"] %></p>
    <%= poll.text_area(:closed_names, size: "100x3") %><br>

    <p><%= MAIN["enter_open_questions"] %></p>
    <%= poll.text_area(:open_names, size: "100x3") %><br>

    <% if @poll.new_record? %>
        <%= poll.submit MAIN["create_poll"], onclick: "calc_names_number();" %>
    <% else %>
        <%= poll.submit MAIN["update_poll"], onclick: "calc_names_number();" %>
    <% end %>

<% end %>