<%= render 'shared/nav' %>

<input type=text class=form-control id=groups placeholder='<%= t("sb.fill_workgroup") %>' value=<%= current_user.groups %>>
<select id="s_poll_id" class="form-control"></select><br>
<%= t('sb.sat_stats_message') %>
<div class="container-fluid"> 
  <div id=date_fields class="row flex-xl-nowrap">
    <input type=text class=form-control id=time_start placeholder='<%= t("sb.begin") %>'>
    <input type=text class=form-control id=time_end placeholder='<%= t("sb.end") %>'>
  </div>
</div>
<div id=stats></div>
<div id="carousel2" class="carousel slide" data-ride="carousel">
  <div id="carousel-inner" class="carousel-inner"></div>
  <div id="carousel-nav"></div>
</div>

<div class="modal fade bd-modal-lg" id="synth" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="synth_title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="synth_body"></div>
    </div>
  </div>
</div>

<script>

<%= render :partial => 'shared/colibritoolbox.js' %>
<%= render :partial => 'show.js' %>

</script>