<%= render 'shared/nav' %>

<table class="recap">
	<tr>
		<th><%= MAIN["date"] %></th>
		<th><%= MAIN["mail"] %></th>
		<th><%= MAIN["case_or_product"] %></th>
		<% @arrayclosed = @poll.get_names %>
		<% @arrayclosed.each do |c| %>
			<th><%= c %></th>
		<% end %>
	</tr>

	<% Satisfaction.where(poll_id: @poll.id).each do |s| %>

	<tr>
		<td><%= s.created_at %></td>
		<td><%= @hash[s.user_id] %></td>
		<td><%= Folder.find_by_id(s.folder_id).name + " - (" + s.case_number + ")" %></td>
		<% for i in 1..@poll.closed_names_number %>
			<td><%= s.public_send("closed#{i}") %></td>
		<% end %>
		<% for i in 1..@poll.open_names_number %>
			<td><%= s.public_send("open#{i}") %></td>
		<% end %>
		<td>
			<%= link_to 'X' ,satisfaction_path(s), method: :delete, data: {confirm: MAIN["are_yu_sure"] } %>
		</td>
	</tr>

	<% end %>
	<% tab = @poll.calc %>
	<tr>
		<th colspan="3"><%= MAIN["satisfaction_level_4"] %></th>
		<% for i in 1..@poll.closed_names_number %>
			<td><%= tab[i-1][4] %>%</td>
		<% end %>
	</tr>
	<tr>
		<th colspan="3"><%= MAIN["satisfaction_level_3"] %></th>
		<% for i in 1..@poll.closed_names_number %>
			<td><%= tab[i-1][3] %>%</td>
		<% end %>
	</tr>
	<tr>
		<th colspan="3"><%= MAIN["satisfaction_level_2"] %></th>
		<% for i in 1..@poll.closed_names_number %>
			<td><%= tab[i-1][2] %>%</td>
		<% end %>
	</tr>
	<tr>
		<th colspan="3"><%= MAIN["satisfaction_level_1"] %></th>
		<% for i in 1..@poll.closed_names_number %>
			<td><%= tab[i-1][1] %>%</td>
		<% end %>
	</tr>
	<tr>
		<th colspan="3"><%= MAIN["blank"] %></th>
		<% for i in 1..@poll.closed_names_number %>
			<td><%= tab[i-1][0] %>%</td>
		<% end %>
	</tr>

</table>

<%= link_to MAIN["download_csv"], poll_path(@poll, format: "csv") %>