<p><%= t('hello') %> <%= @resource.email %>!</p>

<p><%= t('mel.text_change_pass_1') %><br>

<p><%= link_to t('sb.regen_password'), edit_password_url(@resource, reset_password_token: @token) %></p>
<%= puts(edit_password_url(@resource, reset_password_token: @token)) %>

<p><%= t('mel.unwanted') %></p>
<p><%= t('mel.text_change_pass_2') %></p>
