<h3>Les partages du répertoire<br> 
<%= @current_folder.name %><br>
numéro : <%= @current_folder.id %></h3>


<table class="recap">
    <tr>
    	<th>Id Utilisateur</th>
    	<th>Email</th>
    	<th>Statut</th>
    </tr>
    <% @shared_folders.each do |f|%>
    <tr>
        <td>
        <% if f.share_user_id %>
            <%= f.share_user_id %>
        <% end %>
        </td>
    <td><%= f.share_email %></td>
    <% if User.all.find_by_id(f.share_user_id) %>
        <td><%= (User.all.find_by_id(f.share_user_id)).statut %></td>
    <% end %>
    <% end %>

</table>

<% if @satisfaction %>
    <%= render 'satisfactions/form' %> 
<% end %>


