<%= render 'shared/nav' %>

<table class="recap">
    <tr>
    	<th>Id Utilisateur</th>
    	<th>Email</th>
    	<th>Statut</th>
    </tr>
    <% @shared_folders.each do |f|%>
    <% user = User.find_by_email(f.share_email) %>
    <% @current_shared_folder = f %>
    <tr>
    	<% if user %>
	        <td>
	            <%= user.id %>
	        </td>
        	<% if user.has_completed_satisfaction?(@current_folder) %>
            	<% satisfaction = @satisfactions.find_by_user_id(user.id) %>
            	<td>
            		<a class="display_anchor" onclick="display(<%= satisfaction.id %>)"><%= f.share_email %></a>
            	</td>
        	<% else %>
            	<td>
            		<%= f.share_email %>
            	</td>
        	<% end %>
        	<td>
            	<%= user.statut %>
        	</td>
			<td>
            	<% if !user.has_completed_satisfaction?(@current_folder) %>
                	<%= link_to '<i class="fas fa-envelope fa-2x"></i>'.html_safe, send_email_path(f), remote: true  %>
            	<% end %>
        	</td>
        <% else %>
        	<td>
        	</td>
        	<td>
        		<%= f.share_email %>
        	</td>
        	<td>
        	</td>
        	<td>
        		<%= link_to '<i class="fas fa-envelope fa-2x"></i>'.html_safe, send_email_path(f), remote: true  %>
        	</td>
        <% end %>
    </tr>
    <% end %>

</table>

<% @satisfactions.each do |s| %> 
    <div id="form_<%=s.id%>" style="display: none">
        <% @satisfaction = s %>
        <%= render 'satisfactions/form' %>
    </div>
<% end %>


