<%= render 'shared/nav' %>

<h2><%= t('sb.free_survey') %></h2>

<div id="process_options">
<input type="text" id="s_description" placeholder="<%= t('sb.project_description') %>" name="s[description]" class="form-control" ><br>
<input type="text" id="s_client_mel" placeholder="<%= t('sb.client_email') %>" name="s[client_mel]" class="form-control" ><br>
<input type="text" id="s_by" placeholder="<%= t('sb.project_manager_email') %>" name="s[by]" class="form-control" ><br>
<%= t('sb.choose_poll') %> :
<select id="s_poll_id" name="s[poll_id]" class="form-control"></select><br>
</div>
<div><button id="create" class="btn" style="display:none"><%= t('sb.save') %></button><br><br></div>

<div class="table-responsive">
  <h4><%= t('sb.pending_survey') %></h4>
  <input type=text class=form-control id=groups placeholder="<%= t('sb.fill_workgroup') %>" value=<%= current_user.groups %>>
  <div class="container-fluid"> 
    <div id=date_fields class="row flex-xl-nowrap">
      <input type=text class=form-control id=time_start placeholder="<%= t('sb.begin') %>">
      <input type=text class=form-control id=time_end placeholder="<%= t('sb.end') %>">
    </div>
  </div>
  <table class="table">
    <tr>
      <th><%= t('sb.id') %></th>
      <th><%= t('sb.details') %></th>
      <th></th>
      <th></th>
    </tr>
    
    <tbody id="surveylist"></tbody>
  </table>
</div>
<div class="table-responsive">
  <table class="table">
    <tr>
      <th id="titleandcsv"><%= t('sb.feedbacks') %></th>
    </tr>
    <tbody id="answers"></tbody>
  </table>
</div>

<div class="modal fade bd-modal-lg" id="AnswerModal" tabindex="-1" role="dialog" aria-hidden="true">
 <div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="mtitle"></h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" id="mcontent">
    </div>
  </div>
 </div>
</div>

<script>
<%= render :partial => 'shared/colibritoolbox.js' %>
<%= render :partial => 'new.js' %>
</script>