<%= image_tag 'logo.jpg', size: '50x50' %><br>
<%= link_to t('sb.site_name'), "http://"+ENV.fetch('DOMAIN') %><br>
File system : <%= Rails.application::config.active_storage.service %><br>
Bucket: <%= ENV.fetch('S3_BUCKET_NAME') %><br>
<h1>Activity on <%= ENV.fetch('DOMAIN') %></h1>
<p>By <%= @user.email %>, user <%= @user.id %></p>
<br>
<%= @text.html_safe %>
<p>Have a great day!</p>
