<%= image_tag 'logo.jpg', size: '100x100' %><br>
<h1><%= t('sb.site_name') %></h1><br>
<%= t('mel.introduce_speaker') %><br>
<%= @owner.email %>
<br><br>

<h2><%= @folder.name %></h2>
<% if @folder.case_number? %>
  <%= t('sb.project') %> <%= @folder.case_number %><br><br>
<% end %>

<% if @shared_files.count > 0 %>
  <%= @assetlist.html_safe %>
  <% if @folder.is_polled? %>
    <h3><%= t('mel.text_on_project_1') %></h3>
    <%= t('mel.text_on_project_2') %><br>
    <%= t('mel.we_wait_for_your_feedback') %><br>
  <% end %>
<% else %>
  <% if @folder.is_polled? %>
    <%= t('mel.text_annual_satisfaction_1') %><br>
    <%= t('mel.text_annual_satisfaction_2') %><br>
    <%= t('mel.text_annual_satisfaction_3') %><br>
  <% end %>
<% end %>
<br>

<% if @customer %>
  <%= t('mel.follow_the_link') %> <%= link_to folder_url(@folder.id).to_s, folder_url(@folder.id) %><br><br>
  <%= t('mel.remember_your_registration_mel') %> <%= @customer_email %><br>
  <%= t('mel.link_for_new_password') %> : <%=link_to new_user_password_url.to_s, new_user_password_url %><br>
<% else %>
  <%= t('mel.link_to_create_account') %> : <%= link_to new_user_registration_url.to_s, new_user_registration_url %><br>
  <%= t('mel.during_signup_use_mel') %> <%= @customer_email %><br>
<% end %>
