<%= image_tag 'logo.jpg', size: '100x100' %><br>
<h1><%= t('sb.site_name') %></h1><br>
<br><br>

<%
client_username=@survey.client_mel.to_s.split("@");
client_username[0].sub!("."," ");
by_username=@survey.by.to_s.split("@");
by_username[0].sub!("."," ")
%>

<h3><%= t('hello') %> <%=client_username[0].titleize %></h3>
<h3><%= t('sb.survey_intro') %></h3>
<h4><%= @survey.description %></h4>
<h5><%= t('sb.project_manager') %> : <%= by_username[0].titleize %></h5>

<h3><%= t('mel.text_free_survey') %></h3>
<%= t('mel.link_to_free_survey') %> : <br>
<%= link_to new_satisfaction_no_folder_url(@survey.id,@survey.token).to_s, new_satisfaction_no_folder_url(@survey.id,@survey.token) %>
<br>
<%= t('mel.we_wait_for_your_feedback') %>